.glass-panel-spec {
    color: #000000;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    height: 100%;
    max-height: 600px;
    border-radius: 0 0 15px 15px;
    backdrop-filter: blur(20px);
    position: relative;
    display: grid;
    grid-template-columns: 5% 20% 5% 65% 5%;
    grid-template-rows: 5% 90% 5%;

  }

.glass-panel-mode {

    color: #000000;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 0 0 15px 15px;
    backdrop-filter: blur(20px);
    grid-column-start: 2;
    grid-column-end: span 1;

    grid-row-start: 2;
    grid-row-end: span 1;
}

.glass-mode {

    border: 0;
    top: 0%;
    text-decoration: none;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s;
  }

  .glass-mode:hover {
    background-color: rgba(255,255,255,0.3);
  }

.glass-panel-game {

    color: #000000;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 0 0 15px 15px;
    backdrop-filter: blur(20px);
    grid-column-start: 4;
    grid-column-end: span 1;

    grid-row-start: 2;
    grid-row-end: span 1;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.glass-game-title {
    border: 0;
    top: 0%;
    text-decoration: none;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 1s;
  }

  @media (max-width: 770px) {
    .glass-panel-spec {
      grid-template-columns: 5% 1fr 5%;
      grid-template-rows: 5% 65% 5% 20% 5% ;
    }

    .glass-panel-game {
      
      grid-column-start: 2;
      grid-column-end: span 1;
      
      grid-row-start: 2;
      grid-row-end: span 1;
    }

    .glass-panel-mode {
      grid-column-start: 2;
      grid-column-end: span 1;

      grid-row-start: 4;
      grid-row-end: span 1;
    }
  }