.game {
    width: 600px;
    height: 400px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    position: relative;
    border : thick groove white;
    max-width: 100%;
    max-height: 100%;
  }

  .score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    position: relative;
    top: 10%;
    font-size: xx-large;
  }

  .specgame {
    width: 600px;
    height: 400px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    position: relative;
    border : thick groove white;
    max-width: 100%;
    max-height: 100%;
    /*flex: 1;*/
  }

  .split-line {
    position: absolute;
    top: 0;
    left: 50%;
    /*width: 1%;*/
    height: 100%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    border-right: 5px dashed white;
  }
  
  .board {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .paddle, .epaddle {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
  }

  .epaddle {

    right: 0%;
  }
  
  .ball {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .glow {
    box-shadow: 0px 0px 10px 5px rgba(45, 255, 196, 0.6);
    transition: box-shadow 0.3s ease-in-out;
  }
  

  .orb {
    animation: spin 2s linear infinite;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset 0 0 50px #fff, inset 20px 0 60px #8B008B,
      inset -20px 0 60px #0000FF, inset 20px 0 300px #8B008B,
      inset -20px 0 300px #0000FF, 0 0 50px #fff, -10px 0 60px #8B008B,
      10px 0 60px #0000FF;
  }
  
    @keyframes spin {
      from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  /*********************/
  #nest3 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 2px solid transparent;
    border-top-color: #000000;
    box-shadow: 0 0 5px skyblue;
    border-radius: 50%;
    -webkit-animation: spin9 1.5s ease infinite;
            animation: spin9 1.5s ease infinite;
  }
  
  #nest3:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #000000;
    box-shadow: 0 0 5px skyblue;
    -webkit-animation: spin9_x 1s linear infinite;
            animation: spin9_x 1s linear infinite;
  }
  
  #nest3:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #000000;
    box-shadow: 0 0 5px skyblue;
    -webkit-animation: spin9 1.5s linear infinite;
            animation: spin9 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin9 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  @keyframes spin9 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  @-webkit-keyframes spin9_x {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  @keyframes spin9_x {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }