@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

body {
  animation: gradient 10s ease-in-out infinite;
    background: radial-gradient(ellipse at bottom, #38dcd6 0%, #37046d 100%);
    background-size: 400% 400%;
     position: relative;
     height: 100%;
     width: 100%;
     margin: 0;
     display: flex;
     align-items: center;
     justify-content: center;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  div#root {
    height: 100%; /* remove this line to see div.app is no more 100% height */
  }

  .Connected {
    width: 10px;
    height: 10px;
    background-color: #32de84;
    border-radius: 50%;
    margin-right: 5px;
  }

  .Disconnected {
    width: 10px;
    height: 10px;
    background-color: #E52B50;
    border-radius: 50%;
    margin-right: 5px;

  }

  .inGame {
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    margin-right: 5px;

  }

  .glass-nav {
    color: #000000;
    margin-top: -50px;
    margin-bottom: 30px;
    //margin: 10px auto;
    background-color: rgba(255,255,255,0.01);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    backdrop-filter: blur(1px);
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
  }

  .glass-panel {
    color: #000000;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    height: 100%;
    max-height: 600px;
    border-radius: 0 0 15px 15px;
    padding: 10% 0;
    backdrop-filter: blur(20px);
    position: relative;
  }

  .glass-panel-custom {
    color: #000000;
    //margin: 10px auto;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 0 0 15px 15px;
    padding: 10% 0;
    backdrop-filter: blur(20px);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
   // display: flex;
   // column-gap: 20px;
   // align-items: flex-start;
  }

  .glass-button {
    padding: 20px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 1.5vw;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s;
    content: "\f066";
  }

  .glass-button:hover {
    transform: scale(1.1);
    background-color: rgba(255,255,255,0.3);
  }


  .gamemode {

    position: relative;
    width: 25%;
    /*height: 90%;*/
    min-height: 400px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, 
    rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 48px;
    /*border: solid white;*/
    writing-mode: horizontal-tb;
    border-radius: 0 0 15px 15px;
    background-color: rgba(12, 86, 206, 0.1);
    backdrop-filter: blur(20px);
    display: block;
    overflow-y: auto;
}

  .glass-switch {
    //display: inline-block;
    padding: 20px 32px;
    border: 0;
    text-decoration: none;
    width: 100%;
    //position:fixed;
    //left: 10%;
    //margin-left: 30px;
    //border-radius: 0 0 15px 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s;
    content: "\f066";
  }
  .glass-switch:hover {
    background-color: rgba(255,255,255,0.3);
  }

  .glass-friend-options {
    //display: inline-block;
    //padding: 25% 10px;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    //margin-bottom: 5vh;
    //position:fixed;
    //left: 10%;
    //margin-left: 30px;
    //border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    // font-size: 1vh;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .glass-friend-options:hover {
    //transform: scale(1.1);
    background-color: rgba(255,255,255,0.3);
  }

  .glass-options {
    //display: inline-block;
    padding: 10px 24px;
    border: 0;
    text-decoration: none;
    margin-top: 5vh;
    //position:fixed;
    //left: 10%;
    //margin-left: 30px;
    //border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    // font-size: 1vh;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s;
  }

  .glass-options:hover {
    transform: scale(1.1);
    background-color: rgba(255,255,255,0.3);
  }
  
  .glass-invitation {
    border: 0;
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    // font-size: 1vh;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s;
    height: 85%;
    max-height: fit-content;
    width: auto;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .glass-invitation:hover {
    background-color: rgba(255,255,255,0.3);
  }

  #root {
    height: 100%;
  }

  html {
    height: 100%;
  }

  h1, .test {
     font-family: 'Montserrat', sans-serif;
     font-size: 12vh;
     line-height: 2px;
     letter-spacing: 1vw;
    //  position:relative;
    //  top: -50px;
     text-align: center;
     line-height: normal;
    //  left: 50%;
    //  transform: translateX(-50%);
     color: white;
     background: url('https://www.pixel4k.com/wp-content/uploads/2020/10/gas-flow-abstract-4k_1603390998.jpg.webp');
      background-size: auto 200%;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: shine 8s linear infinite;
     &:nth-child(2) {
       top: 50vh;
     }
     @keyframes shine {
       from {
         background-position: center 0;
       }
       to {
         background-position: center 200%;
       }
     }
   }
  