
/* .chat-interface {
    display: flex;
    justify-content: center;
} */

.chat-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
  position: relative;
}

/* .background-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 15vw;
  letter-spacing: 1vw;
  text-align: center;
  color: transparent;
  background-image: url('https://www.pixel4k.com/wp-content/uploads/2020/10/gas-flow-abstract-4k_1603390998.jpg.webp');
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  filter: blur(10px);
} */

@keyframes shine {
  from {
      background-position: center 0;
  }
  to {
      background-position: center 200%;
  }
}

/******************************************************************** */
/******************************** PANE ****************************** */
/******************************************************************** */

/*.left-pane,
.middle-pane,
.right-pane {
  padding: 15px;
}

.left-pane {
  flex: 1;
}

.middle-pane {
  flex: 5;
}*/

/******************************************************************** */
/******************************** CHAT LIST ************************* */
/******************************************************************** */

/*.chat-list {
    background-color: #12121259;
    color: #fff;
    //padding: 20px;
    height: 400px;
    // border-radius: 15%;
    justify-content: space-evenly;
    list-style: none;
    // overflow-y: auto;
  }
  
  .chat-list div {
    cursor: pointer;
    color: #fff;
    background-color: 	rgba(0, 162, 255, 0.2);
    text-align :center;
  }*/

  .card-msg{
    height: 5vh;
    width: 98%;
  }

  .card-msg-img{
    height: 4vh;
  }

  .new-chat-button {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 12px;
}

/******************************************************************** */
/***************************** SCROLL BAR *************************** */
/******************************************************************** */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

  /******************************************************************** */
  /***************************** CHAT ZONE **************************** */
  /******************************************************************** */
  
  .message-zone {
    background-color: #12121245;
    color: #fff;
    padding: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
  }

  .message-input button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  input[type='text'] {
    flex: 1;
    padding: 5px;
    border: none;
    background-color: #303030;
    color: #fff;
    border-radius: 10px;
  }
  
  /******************************************************************** */
  /***************************** CHAT FRIENDS ************************* */
  /******************************************************************** */

  .friends-list {
    background-color: #12121259;
    color: #fff;
    /*height: 400px;*/
    height: 100%;
    /* border-radius: 15%; */
  }
  
  .friends-list li{
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #00ff9195;
    border-radius: 10%;
    text-align :center;
  }

  .add-button {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 12px;
    background-color: #00ff91;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /******************************************************************** */
  /********************************* MODAL **************************** */
  /******************************************************************** */

.modal-content {
  /*position: absolute;*/
  position: relative;
  background-color: rgb(21, 21, 21);
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 6px 10px #0000008f;
  color: #fff;
  display: flex;
  align-items: center;
  width: auto;
}

.modal-content button.alert {
    background-color: rgba(255, 0, 0, 0.664);
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    width: auto;
    border: none;
    padding: revert;
}

.modal-content button.success {
  background-color: rgba(0, 255, 8, 0.664);
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  width: auto;
  border: none;
  height: fit-content;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 300px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*top: 0;
  left: 0;*/
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
